img{
    border-radius: 20px;
    width: 300px;
    border: 3px solid black;
}
h1{
position: relative;
left: 330px;
bottom: 400px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 h5{
   font-size: large;
 }
 .p1{
    font-size: larger;
    position: relative;
    left: 350px;
    bottom: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
 .p2{
    position: relative;
    left:350px;
    bottom: 400px;
 }

 .section{
    position: relative;
    bottom: 200px;
 }
 .section2{
    position: relative;
    bottom: 200px;
 }
  .section3{
    position: relative;
    bottom: 200px;
  }
  .section4{
   position: relative;
   bottom: 200px;
  }
 .section5{
   position:relative;
   bottom: 200px;
  }
 .list{
   font-weight: bold;
 }
  .list2{
   list-style-type: none;
  }
  .section6{
   position: relative;
   bottom: 200px;
  }
body{
    padding: 50px 35px;

    }